{% extends 'base.html' %}
{% block content %}
    <div id="id-article" class="row">
        <h2>个人信息</h2>
        <div class="col-xs-6">
            <p>姓名：ZhiyuC</p>
            <p>电话：*******</p>
        </div>
        <div class="col-xs-6">
            <p>性别：男</p>
            <p>邮箱：*******@**.***</p>
        </div>
        <div class="col-xs-12"><hr></div>
        <h2>教育经历</h2>
        <div class="col-xs-6">
            <p>毕业于：2017年</p>
            <p>材料物理</p>
        </div>
        <div class="col-xs-6">
            <p>东北大学</p>
            <p>本科</p>
        </div>
        <div class="col-xs-12"><hr></div>
        <h2>技能树</h2>
        <h3>HTML/CSS/JS</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>满分完成Coursera平台上由约翰霍普金斯大学提供的 HTML, CSS, and Javascript for Web Developers | <a href="https://www.coursera.org/account/accomplishments/certificate/R49G67KBUK84">查看证书</a></p>
                <p>Bootstrap | Mockup | jQuery | Ajax</p>
            </div>
        </div>
        <h3>python</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div>
            </div>
        </div>
            <div class="col-xs-12 col-sm-6">
            <p>Python</p>
        </div>
        </div>
        <h3>Django</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>本博客基于Django1.8开发 | 熟悉MVC模式</p>
            </div>
        </div>
        <h3>Linux</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>熟悉常用命令 | 能够在阿里云ESC上搭建APache服务器，MySql服务器</p>
            </div>
        </div>
        <div class="col-xs-12"><hr></div>
        <h2>课外活动</h2>
        <p>为Coursera平台上的课程翻译中文字幕，累积超过10000词（包括密歇根大学的经典python入门课程）。在社区获得了审阅
            权限      |       <span>线上协作</span></p>
    </div>
{% endblock %}