<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giraffe's COOK HOUSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <!-- jQuery (Bootstrap JS plugins depend on it) -->
    <script src="{% static 'blog/js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>