{% extends 'base.html' %}
{% block content %}
    <div id="id-article-list">
        <div class="jumbotron">
            <h2>待办事项清单</h2>
            <p>查看代码。这是show-me-the-code中的一道练习题目。</p>
            <p><a target="_blank" class="btn btn-mybutton btn-lg" href="{% url 'todolistindex' %}" role="button">查看示例页面</a></p>
        </div>
        <div class="jumbotron">
            <h2>百度文库自动签到</h2>
            <p>登陆百度后每日自动在文库签到，获取下载券。在陌生ip登陆百度账号需要短信验证，该功能暂未实现，需要使用联系
            管理员获取代理地址，验证后添加账号</p>
            <p><a target="_blank" class="btn btn-mybutton btn-lg" href="{% url 'wenkuindex' %}" role="button">查看示例页面</a></p>
        </div>
    </div>
{% endblock %}