/* layer part */

.layer {
    text-align: left;
    padding-top: 30px;
    background-image: url("./image/back_l.png");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    width: 210px;
    height: 160px;
}
.input-area {
    text-align: center;
    float: left;
    width: 100px;
    height: 70px;
    background-color: #cccccc;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
}
.submit-button {
    width: 50px;
    height: 90px;
    font-size: small;
}
.sign-img {
    padding: 10px;
    width: 49px;
    height: 49px;
}

/* mathjax part */

.input-area .mjx-line {
    top: -20px !important;
}
.input-area .mjx-denominator {
    top: -15px !important;
}
.form-input {
    width: 50px;
}
.mjx-math input {
    text-align: center !important;
}
