{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div id="id-article-list" class="col-md-8">
            {% for article in latest %}
            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
            <p>{{ article.abstract }}</p>
            <a href="{{ article.get_absolute_url }}">阅读全文</a>
            {% for tag in article.tags.all %}<span class="tags"><a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a></span>{% endfor %}
            {% endfor %}
        </div>
        {% include 'blog/side.html' %}
    </div>
{% endblock %}