{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div id="id-article-list" class="col-md-8">
            <h1>{{ year|date:'Y' }}年的所有文章</h1>
            <hr>
            {% for date in date_list %}
            <a href="#">{{ date|date }}</a>
            {% endfor %}
            {% for article in article_list %}
            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
            <p>{{ article.abstract }}</p>
            <a href="{{ article.get_absolute_url }}">阅读全文</a>
            {% for tag in article.tags.all %}<span class="tags"><a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a></span>{% endfor %}
            {% endfor %}
        </div>
        <div id="id-side" class="col-md-4">
            <div class="tags">
                {% for tag in tags %}
                    <a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}<span> ({{ tag.article.count }})</span></a>
                {% endfor %}
            </div>
            <div id="id-archive">
                <h3>归档</h3>
                {% regroup dates by year as dates_by_year %}
                <ul>
                    {% for month in dates_by_year %}
                    <!-- month 是一组月份列表 -->
                    <li>
                        {{ month.grouper }} 年
                        <!-- grouper 是组头，即某个月份列表的年份 -->
                        <ul class="list-group">
                            {% for d in month.list %}
                            <!-- 再循环显示该年份组下的月份列表即可 -->
                            <li class="list-group-item">
                                <a href="{% url 'month_archive' month.grouper d|date:'m' %}"> {{ d |date:'m' }} 月</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}