{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div id="id-article" class="col-md-8">
            <h1>{{ article.title }}<small class="tags">{% for tag in article.tags.all %}<a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a>{% endfor %}</small></h1>
            <div class="info">
                <span>发布于：{{ article.pub_time.date }}</span><span id="id-view-times">被浏览：{{ article.view_times }}次</span>
            </div>
            <hr>
            <p>{{ article.body }}</p>
            {% include "duoshuo/duoshuo_commentbox.html" %}
        </div>
        <div id="id-side" class="col-md-4">
            <div class="tags">
                {% for tag in tags %}
                    <a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}<span> ({{ tag.article.count }})</span></a>
                {% endfor %}
            </div>
            <div id="id-archive">
                <h3>最新文章</h3>
                <div class="list-group">
                    {% for article in latest %}
                    <a href="{{ article.get_absolute_url }}" class="list-group-item">{{ article.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="hidden-xs hidden-sm">
                {% include "duoshuo/duoshuo_commentbox.html" %}
                {% include "duoshuo/duoshuo_common.html" %}
            </div>
        </div>
    </div>
{% endblock %}